.footer {
  background-color: var(--gamma);
  color: var(--delta);
  padding: 12rem;
  font-size: 13rem;
  text-align: center;
  position: fixed; // not in original code
  width: 100%; //not in original code
  bottom: 0rem; // not in original code
}
